/*--------------------------------------------------------------
 font-face
--------------------------------------------------------------*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url(../fonts/Roboto/Roboto-Thin.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url(../fonts/Roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url(../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url(../fonts/Roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url(../fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local("Roboto Black"), local("Roboto-Black"), url(../fonts/Roboto/Roboto-Black.ttf);
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Condensed Light"), local("RobotoCondensed-Light"), url(../fonts/Roboto_Condensed/RobotoCondensed-Light.ttf);
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Condensed"), local("RobotoCondensed-Regular"), url(../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Condensed Bold"), local("RobotoCondensed-Bold"), url(../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}
/*--------------------------------------------------
  HTML
--------------------------------------------------*/
html {
  min-width: 320px;
  color: #555;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*--------------------------------------------------
  Global
--------------------------------------------------*/
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/*--------------------------------------------------
  Outline
--------------------------------------------------*/
*:focus {
  outline: 1px dashed #555;
}
body:not(.tab-used) *:focus {
  outline: none;
}

/*--------------------------------------------------
  Body
--------------------------------------------------*/
body {
  min-width: inherit;
  color: #555;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}
body ::-webkit-scrollbar {
  width: 2px;
  height: 2px;
  background-color: #F5F5F5;
}
body ::-webkit-scrollbar-thumb {
  background-color: #BDBDBD;
}

/*--------------------------------------------------
  Links
--------------------------------------------------*/
a {
  color: #F44336;
}
a:visited {
  color: #FF1744;
}
a:hover, a:active, a:focus {
  color: #212121;
}

/*--------------------------------------------------
  Typography
--------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 40px;
  font-weight: bold;
  line-height: 1.15;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit;
}

p {
  margin: 0 0 20px;
}
p:last-child {
  margin: 0;
}

em {
  font-style: italic;
}

strong {
  font-weight: bolder;
}

small {
  font-size: 75%;
}

pre {
  font-family: monospace, monospace;
  font-size: 1.4rem;
}

/*--------------------------------------------------
  Main
--------------------------------------------------*/
main {
  display: block;
}

/*--------------------------------------------------
  Table
--------------------------------------------------*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*--------------------------------------------------
  Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
--------------------------------------------------*/
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/*--------------------------------------------------
  Correct the inheritance and scaling of font size in all browsers.
  Correct the odd `em` font sizing in all browsers.
--------------------------------------------------*/
code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/*--------------------------------------------------
  Prevent `sub` and `sup` elements from 
  affecting the line height in all browsers.
--------------------------------------------------*/
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*--------------------------------------------------
  Remove the border on images inside links in IE 10-.
--------------------------------------------------*/
img {
  border-style: none;
}

/*--------------------------------------------------
  Show the overflow in IE.
  Show the overflow in Edge.
--------------------------------------------------*/
button, input {
  overflow: visible;
}

/*--------------------------------------------------
  Remove the inheritance of text transform in Edge, Firefox, and IE.
  Remove the inheritance of text transform in Firefox.
--------------------------------------------------*/
button, select {
  text-transform: none;
}

/*--------------------------------------------------
  Remove the inner border and padding in Firefox.
--------------------------------------------------*/
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/*--------------------------------------------------
  Restore the focus styles unset by the previous rule.
--------------------------------------------------*/
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/*--------------------------------------------------
  Correct the padding in Firefox.
--------------------------------------------------*/
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/*--------------------------------------------------
  Remove the default vertical scrollbar in IE.
--------------------------------------------------*/
textarea {
  overflow: auto;
}

/*--------------------------------------------------
  Correct the cursor style of increment and decrement buttons in Chrome.
--------------------------------------------------*/
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/*--------------------------------------------------
  Correct the odd appearance in Chrome and Safari.
  Correct the outline style in Safari.
--------------------------------------------------*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*--------------------------------------------------
  Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
--------------------------------------------------*/
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*--------------------------------------------------
  Correct the inability to style clickable types in iOS and Safari.  
  Change font properties to `inherit` in Safari.
--------------------------------------------------*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/*--------------------------------------------------
  Add the correct display in IE 10-.
--------------------------------------------------*/
[hidden] {
  display: none;
}

/*--------------------------------------------------
  clearfix, group, row
--------------------------------------------------*/
.row::after, .group::after, .clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------------------------
  col
--------------------------------------------------*/
.col {
  float: left;
  width: 100%;
}

.col.xs1 {
  width: 8.33333%;
}

.col.xs2 {
  width: 16.66666%;
}

.col.xs3 {
  width: 24.99999%;
}

.col.xs4 {
  width: 33.33333%;
}

.col.xs5 {
  width: 41.66666%;
}

.col.xs6 {
  width: 49.99999%;
}

.col.xs7 {
  width: 58.33333%;
}

.col.xs8 {
  width: 66.66666%;
}

.col.xs9 {
  width: 74.99999%;
}

.col.xs10 {
  width: 83.33333%;
}

.col.xs11 {
  width: 91.66666%;
}

.col.xs12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .col.s1 {
    width: 8.33333%;
  }

  .col.s2 {
    width: 16.66666%;
  }

  .col.s3 {
    width: 24.99999%;
  }

  .col.s4 {
    width: 33.33333%;
  }

  .col.s5 {
    width: 41.66666%;
  }

  .col.s6 {
    width: 49.99999%;
  }

  .col.s7 {
    width: 58.33333%;
  }

  .col.s8 {
    width: 66.66666%;
  }

  .col.s9 {
    width: 74.99999%;
  }

  .col.s10 {
    width: 83.33333%;
  }

  .col.s11 {
    width: 91.66666%;
  }

  .col.s12 {
    width: 99.99999%;
  }
}
@media (min-width: 993px) {
  .col.m1 {
    width: 8.33333%;
  }

  .col.m2 {
    width: 16.66666%;
  }

  .col.m3 {
    width: 24.99999%;
  }

  .col.m4 {
    width: 33.33333%;
  }

  .col.m5 {
    width: 41.66666%;
  }

  .col.m6 {
    width: 49.99999%;
  }

  .col.m7 {
    width: 58.33333%;
  }

  .col.m8 {
    width: 66.66666%;
  }

  .col.m9 {
    width: 74.99999%;
  }

  .col.m10 {
    width: 83.33333%;
  }

  .col.m11 {
    width: 91.66666%;
  }

  .col.m12 {
    width: 99.99999%;
  }
}
@media (min-width: 1301px) {
  .col.l1 {
    width: 8.33333%;
  }

  .col.l2 {
    width: 16.66666%;
  }

  .col.l3 {
    width: 24.99999%;
  }

  .col.l4 {
    width: 33.33333%;
  }

  .col.l5 {
    width: 41.66666%;
  }

  .col.l6 {
    width: 49.99999%;
  }

  .col.l7 {
    width: 58.33333%;
  }

  .col.l8 {
    width: 66.66666%;
  }

  .col.l9 {
    width: 74.99999%;
  }

  .col.l10 {
    width: 83.33333%;
  }

  .col.l11 {
    width: 91.66666%;
  }

  .col.l12 {
    width: 99.99999%;
  }
}
/*--------------------------------------------------
  col-flex
--------------------------------------------------*/
.col-flex {
  display: flex;
  flex-wrap: wrap;
}
.center.col-flex {
  align-items: center;
  justify-content: center;
}
.center_h.col-flex {
  justify-content: center;
}
.center_v.col-flex {
  align-items: center;
}

.col-flex .flex-content.xs1 {
  width: 8.33333%;
}

.col-flex .flex-content.xs2 {
  width: 16.66666%;
}

.col-flex .flex-content.xs3 {
  width: 24.99999%;
}

.col-flex .flex-content.xs4 {
  width: 33.33333%;
}

.col-flex .flex-content.xs5 {
  width: 41.66666%;
}

.col-flex .flex-content.xs6 {
  width: 49.99999%;
}

.col-flex .flex-content.xs7 {
  width: 58.33333%;
}

.col-flex .flex-content.xs8 {
  width: 66.66666%;
}

.col-flex .flex-content.xs9 {
  width: 74.99999%;
}

.col-flex .flex-content.xs10 {
  width: 83.33333%;
}

.col-flex .flex-content.xs11 {
  width: 91.66666%;
}

.col-flex .flex-content.xs12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .col-flex .flex-content.s1 {
    width: 8.33333%;
  }

  .col-flex .flex-content.s2 {
    width: 16.66666%;
  }

  .col-flex .flex-content.s3 {
    width: 24.99999%;
  }

  .col-flex .flex-content.s4 {
    width: 33.33333%;
  }

  .col-flex .flex-content.s5 {
    width: 41.66666%;
  }

  .col-flex .flex-content.s6 {
    width: 49.99999%;
  }

  .col-flex .flex-content.s7 {
    width: 58.33333%;
  }

  .col-flex .flex-content.s8 {
    width: 66.66666%;
  }

  .col-flex .flex-content.s9 {
    width: 74.99999%;
  }

  .col-flex .flex-content.s10 {
    width: 83.33333%;
  }

  .col-flex .flex-content.s11 {
    width: 91.66666%;
  }

  .col-flex .flex-content.s12 {
    width: 99.99999%;
  }
}
@media (min-width: 993px) {
  .col-flex .flex-content.m1 {
    width: 8.33333%;
  }

  .col-flex .flex-content.m2 {
    width: 16.66666%;
  }

  .col-flex .flex-content.m3 {
    width: 24.99999%;
  }

  .col-flex .flex-content.m4 {
    width: 33.33333%;
  }

  .col-flex .flex-content.m5 {
    width: 41.66666%;
  }

  .col-flex .flex-content.m6 {
    width: 49.99999%;
  }

  .col-flex .flex-content.m7 {
    width: 58.33333%;
  }

  .col-flex .flex-content.m8 {
    width: 66.66666%;
  }

  .col-flex .flex-content.m9 {
    width: 74.99999%;
  }

  .col-flex .flex-content.m10 {
    width: 83.33333%;
  }

  .col-flex .flex-content.m11 {
    width: 91.66666%;
  }

  .col-flex .flex-content.m12 {
    width: 99.99999%;
  }
}
@media (min-width: 1301px) {
  .col-flex .flex-content.l1 {
    width: 8.33333%;
  }

  .col-flex .flex-content.l2 {
    width: 16.66666%;
  }

  .col-flex .flex-content.l3 {
    width: 24.99999%;
  }

  .col-flex .flex-content.l4 {
    width: 33.33333%;
  }

  .col-flex .flex-content.l5 {
    width: 41.66666%;
  }

  .col-flex .flex-content.l6 {
    width: 49.99999%;
  }

  .col-flex .flex-content.l7 {
    width: 58.33333%;
  }

  .col-flex .flex-content.l8 {
    width: 66.66666%;
  }

  .col-flex .flex-content.l9 {
    width: 74.99999%;
  }

  .col-flex .flex-content.l10 {
    width: 83.33333%;
  }

  .col-flex .flex-content.l11 {
    width: 91.66666%;
  }

  .col-flex .flex-content.l12 {
    width: 99.99999%;
  }
}
/*--------------------------------------------------
  Color
--------------------------------------------------*/
.color {
  color: #555;
}
.color.primary {
  color: #F44336;
}
.color.accent {
  color: #FF1744;
}
.color.grey-50 {
  color: #FAFAFA;
}
.color.grey-100 {
  color: #F5F5F5;
}
.color.grey-200 {
  color: #EEEEEE;
}
.color.grey-300 {
  color: #E0E0E0;
}
.color.grey-400 {
  color: #BDBDBD;
}
.color.grey-500 {
  color: #999999;
}
.color.grey-600 {
  color: #757575;
}
.color.grey-700 {
  color: #616161;
}
.color.grey-800 {
  color: #424242;
}
.color.grey-900 {
  color: #212121;
}
.color.white {
  color: #FFF;
}
.color.black {
  color: #000;
}
.color.red {
  color: #F44336;
}
.color.pink {
  color: #E91E63;
}
.color.purple {
  color: #9C27B0;
}
.color.deep-purple {
  color: #673AB7;
}
.color.indigo {
  color: #3F51B5;
}
.color.blue {
  color: #2196F3;
}
.color.light-blue {
  color: #03A9F4;
}
.color.cyan {
  color: #00BCD4;
}
.color.teal {
  color: #009688;
}
.color.green {
  color: #4CAF50;
}
.color.light-green {
  color: #8BC34A;
}
.color.lime {
  color: #CDDC39;
}
.color.yellow {
  color: #FFEB3B;
}
.color.amber {
  color: #FFC107;
}
.color.orange {
  color: #FF9800;
}
.color.deep-orange {
  color: #FF5722;
}
.color.brown {
  color: #795548;
}
.color.grey {
  color: #9E9E9E;
}
.color.blue-grey {
  color: #607D8B;
}

/*--------------------------------------------------
  Background
--------------------------------------------------*/
.background {
  background-color: #555;
}
.background.primary {
  background-color: #F44336;
}
.background.accent {
  background-color: #FF1744;
}
.background.grey-50 {
  background-color: #FAFAFA;
}
.background.grey-100 {
  background-color: #F5F5F5;
}
.background.grey-200 {
  background-color: #EEEEEE;
}
.background.grey-300 {
  background-color: #E0E0E0;
}
.background.grey-400 {
  background-color: #BDBDBD;
}
.background.grey-500 {
  background-color: #999999;
}
.background.grey-600 {
  background-color: #757575;
}
.background.grey-700 {
  background-color: #616161;
}
.background.grey-800 {
  background-color: #424242;
}
.background.grey-900 {
  background-color: #212121;
}
.background.white {
  background-color: #FFF;
}
.background.black {
  background-color: #000;
}
.background.red {
  background-color: #F44336;
}
.background.pink {
  background-color: #E91E63;
}
.background.purple {
  background-color: #9C27B0;
}
.background.deep-purple {
  background-color: #673AB7;
}
.background.indigo {
  background-color: #3F51B5;
}
.background.blue {
  background-color: #2196F3;
}
.background.light-blue {
  background-color: #03A9F4;
}
.background.cyan {
  background-color: #00BCD4;
}
.background.teal {
  background-color: #009688;
}
.background.green {
  background-color: #4CAF50;
}
.background.light-green {
  background-color: #8BC34A;
}
.background.lime {
  background-color: #CDDC39;
}
.background.yellow {
  background-color: #FFEB3B;
}
.background.amber {
  background-color: #FFC107;
}
.background.orange {
  background-color: #FF9800;
}
.background.deep-orange {
  background-color: #FF5722;
}
.background.brown {
  background-color: #795548;
}
.background.grey {
  background-color: #9E9E9E;
}
.background.blue-grey {
  background-color: #607D8B;
}
.background.primary-gradient {
  background: linear-gradient(to bottom right, #F44336, #FF1744);
}

/*--------------------------------------------------
  Object-fit
--------------------------------------------------*/
.object-fit-fill {
  object-fit: fill;
  font-family: "object-fit: fill;";
}

.object-fit-contain {
  object-fit: contain;
  font-family: "object-fit: contain;";
}

.object-fit-cover {
  object-fit: cover;
  font-family: "object-fit: cover;";
}

.object-fit-none {
  object-fit: none;
  font-family: "object-fit: none;";
}

.object-fit-scale_down {
  object-fit: scale-down;
  font-family: "object-fit: scale-down;";
}

/*--------------------------------------------------
  Display according to viewport
--------------------------------------------------*/
@media only screen and (min-width: 993px) {
  .mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 992px) {
  .desktop {
    display: none !important;
  }
}
/*--------------------------------------------------
  Float
--------------------------------------------------*/
.float-left {
  float: left;
}

.float-right {
  float: right;
}

/*--------------------------------------------------
  Typoghrapy
--------------------------------------------------*/
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.font-small {
  font-size: 1.2rem;
}

.font-medium {
  font-size: 1.4rem;
}

.font-large {
  font-size: 1.8rem;
}

.font-large {
  font-size: 2.4rem;
}

/*--------------------------------------------------
  Z-depth
--------------------------------------------------*/
.z-depth {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}

/*--------------------------------------------------
  Filter
--------------------------------------------------*/
.filter {
  position: relative;
}
.filter::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}
.filter > * {
  position: inherit;
  z-index: 1;
}

/*--------------------------------------------------
  site-branding
--------------------------------------------------*/
.site-branding {
  display: flex;
  align-items: center;
  margin: 0 10px;
  font-family: "Roboto Condensed", sans-serif;
  color: #FAFAFA;
  text-decoration: none;
  letter-spacing: 0.3rem;
  white-space: nowrap;
}
.site-branding:hover, .site-branding:visited {
  color: #FAFAFA;
  opacity: 0.85;
}
.site-branding h1, .site-branding h5 {
  margin: 0;
  padding-left: 10px;
  color: inherit;
  font-size: 2.5rem;
  line-height: 1;
}
.site-branding h1 small, .site-branding h5 small {
  display: block;
  color: #999999;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.1rem;
}
.site-branding img {
  max-width: 100%;
  max-height: 75px;
}

@media only screen and (min-width: 993px) {
  .site-branding {
    font-size: 2.4rem;
    color: #F44336;
  }
  .site-branding:hover, .site-branding:visited {
    color: #F44336;
  }
  .site-branding h1 span, .site-branding h5 span {
    color: #555;
  }
}
@media only screen and (max-width: 992px) {
  .site-branding h1, .site-branding h5 {
    padding: 0;
  }
  .site-branding h1 small, .site-branding h5 small {
    display: none;
  }
  .site-branding img {
    display: none;
  }
}
/*--------------------------------------------------
  navigation
--------------------------------------------------*/
.main-nav, .quick-nav, .social-nav {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "Roboto Condensed", sans-serif;
}
.main-nav a, .quick-nav a, .social-nav a {
  display: block;
  padding: 0 10px;
  color: #555;
  line-height: 80px;
  text-decoration: none;
  white-space: nowrap;
}
.main-nav:hover a, .quick-nav:hover a, .social-nav:hover a {
  opacity: 0.35;
  transition: all 200ms linear;
}
.main-nav:hover a.active, .quick-nav:hover a.active, .social-nav:hover a.active {
  color: #F44336;
  opacity: 1;
}
.main-nav a:hover, .quick-nav a:hover, .social-nav a:hover {
  opacity: 1;
}

.main-nav a {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.quick-nav a {
  font-size: 1.5rem;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.social-nav li {
  width: 32px;
  height: 32px;
  line-height: 1;
  text-align: center;
}
.social-nav a {
  padding: 0;
  line-height: 32px;
  font-size: 1.8rem;
  background-color: transparent;
  border-radius: 50%;
}
.social-nav a:hover {
  background-color: #F5F5F5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
.social-nav a.gh:hover {
  color: #424242;
}
.social-nav a.fb:hover {
  color: #3F51B5;
}
.social-nav a.tw:hover {
  color: #03A9F4;
}
.social-nav a.in:hover {
  color: #2196F3;
}
.social-nav a.be:hover {
  color: #0057ff;
}

@media only screen and (min-width: 993px) {
  .social-nav {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 992px) {
  .main-nav {
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .main-nav li {
    width: 100%;
  }
  .main-nav a {
    padding: 0 45px;
    font-size: 1.6rem;
    line-height: 3;
  }

  .quick-nav {
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .quick-nav li {
    width: 100%;
  }
  .quick-nav a {
    padding: 0 45px;
    font-size: 1.6rem;
    line-height: 3;
  }

  .social-nav {
    justify-content: space-around;
    height: 50px;
    border-top: 1px solid #EEE;
  }
}
/*--------------------------------------------------
  breadcrumbs
--------------------------------------------------*/
.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 20px 0;
  color: #424242;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.7;
  border-bottom: 1px solid #EEEEEE;
  white-space: nowrap;
}
.breadcrumbs li {
  text-overflow: ellipsis;
  overflow: hidden;
}
.breadcrumbs li:last-child {
  max-width: 50%;
}
.breadcrumbs li:not(:first-child)::before {
  margin: 0 5px;
  content: "\f054";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.breadcrumbs a {
  color: inherit;
  font-weight: 300;
  text-decoration: none;
}
.breadcrumbs a:hover {
  text-decoration: underline;
}

/*--------------------------------------------------
  Title
--------------------------------------------------*/
.section-title, .heading-title, .heading-title.sub, .headline-heading, .atf-heading, .portfolio-info .title-entry {
  margin: 0;
  color: #555;
  font-size: 1.8rem;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  line-height: 1.5;
}

@media only screen and (min-width: 993px) {
  .section-title {
    font-size: 2.4rem;
  }
}
.heading-title {
  padding: 0 0 10px;
  margin: 0 0 40px;
  border-bottom: 1px solid #F44336;
}

.heading-title.sub {
  font-size: 1.5rem;
  border-color: #EEEEEE;
  margin: 0 0 20px;
}

/*--------------------------------------------------
  headline-heading
--------------------------------------------------*/
.headline-heading {
  color: #FFF;
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}

@media only screen and (min-width: 993px) {
  .headline-heading {
    font-size: 3.4rem;
  }
}
/*--------------------------------------------------
  atf-heading
--------------------------------------------------*/
.atf-heading {
  margin: 0 0 20px;
  color: #FFF;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  white-space: nowrap;
}
.atf-heading a {
  color: inherit;
  text-decoration: none;
  margin-right: 20px;
}

@media only screen and (min-width: 993px) {
  .atf-heading {
    font-size: 2.4rem;
  }
}
/*--------------------------------------------------
  atf-text
--------------------------------------------------*/
.atf-text {
  max-width: 100%;
  margin: 0 0 20px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3;
}

@media only screen and (min-width: 993px) {
  .atf-text {
    font-size: 1.6rem;
  }
}
/*--------------------------------------------------
  portfolio-info
--------------------------------------------------*/
.portfolio-info {
  text-transform: none;
  overflow: hidden;
}
.portfolio-info a {
  color: inherit;
  text-decoration: none;
}
.portfolio-info .title-entry {
  width: 100%;
  margin: 0 0 10px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.portfolio-info .info-entry {
  width: 100%;
  margin: 0;
  color: #999999;
  font-size: 1.5rem;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

/*--------------------------------------------------
  service-info
--------------------------------------------------*/
.service-info {
  text-transform: none;
}
.service-info .title-entry {
  margin: 0;
  padding: 0 0 20px;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

@media only screen and (min-width: 993px) {
  .service-info .title-entry {
    padding: 0 0 30px;
    font-size: 3rem;
  }
}
/*--------------------------------------------------
  contact-note
--------------------------------------------------*/
.contact-note {
  padding-left: 20px;
  color: #999999;
  font-size: 1rem;
  line-height: 1.2;
}
.contact-note strong {
  color: #555;
  font-size: 1.2rem;
}

/*--------------------------------------------------
  alt-contact
--------------------------------------------------*/
.alt-contact {
  width: 100%;
  padding: 15px 10px;
  color: #999999 !important;
  font-size: 1.2rem;
  line-height: 1.5;
  border: 1px solid #EEEEEE;
  border-radius: 4px;
}
.alt-contact a {
  color: inherit;
  text-decoration: none;
  white-space: nowrap;
}
.alt-contact a:hover {
  text-decoration: underline;
}

@media only screen and (min-width: 993px) {
  .alt-contact {
    padding: 15px 20px;
  }
}
/*--------------------------------------------------
  footer-title
--------------------------------------------------*/
.footer-title {
  margin: 0;
  color: #FFF;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.footer-title a {
  margin-right: 10px;
  color: inherit;
  text-decoration: none;
}

/*--------------------------------------------------
  footer-text
--------------------------------------------------*/
.footer-text {
  margin: 0 0 5px;
  font-size: 1rem;
}
.footer-text a {
  text-decoration: none;
}

@media only screen and (min-width: 993px) {
  .footer-text {
    font-size: 1.2rem;
  }
}
/*--------------------------------------------------
  menu-btn
--------------------------------------------------*/
.menu-btn {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  padding: 5px;
  color: #FAFAFA;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
}
.menu-btn .menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}
.menu-btn .menu-inner {
  position: relative;
  display: block;
  width: inherit;
  height: 3px;
  background: #FAFAFA;
}
.menu-btn .menu-inner::after, .menu-btn .menu-inner::before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #FAFAFA;
  transition: all 120ms linear;
}
.menu-btn .menu-inner::before {
  top: -8px;
}
.menu-btn .menu-inner::after {
  bottom: -8px;
}
.active.menu-btn .menu-inner {
  background: rgba(0, 0, 0, 0);
}
.active.menu-btn .menu-inner::before {
  top: 0;
  transform: rotate(-40deg);
}
.active.menu-btn .menu-inner::after {
  bottom: 0;
  transform: rotate(40deg);
}

/*--------------------------------------------------
  btn
--------------------------------------------------*/
.btn, .contact-form button, .contact-form input[type=button], .contact-form input[type=submit] {
  display: inline-block;
  padding: 0 30px;
  color: #FFF;
  font-size: 1.5rem;
  line-height: 5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #F44336, #FF1744);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  white-space: nowrap;
}
.btn:hover, .contact-form button:hover, .contact-form input[type=button]:hover, .contact-form input[type=submit]:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 0 12px 0 rgba(0, 0, 0, 0.1);
}
.btn:hover, .contact-form button:hover, .contact-form input[type=button]:hover, .contact-form input[type=submit]:hover, .btn:focus, .contact-form button:focus, .contact-form input[type=button]:focus, .contact-form input[type=submit]:focus, .btn:active, .contact-form button:active, .contact-form input[type=button]:active, .contact-form input[type=submit]:active, .btn:visited, .contact-form button:visited, .contact-form input[type=button]:visited, .contact-form input[type=submit]:visited {
  color: #FFF;
}

.btn.alt1 {
  color: #555;
  background: #FFF;
}
.btn.alt2 {
  width: 100%;
  max-width: 600px;
}

@media only screen and (max-width: 992px) {
  .btn.cta {
    width: 50px;
    height: 50px;
    padding: 0;
  }
}
/*--------------------------------------------------
  btn-more, btn-all
--------------------------------------------------*/
.btn-more, .btn-all {
  color: inherit !important;
  text-decoration: none;
  text-transform: uppercase;
}
.btn-more::after, .btn-all::after {
  content: " \f061";
  font-family: 'Font Awesome 5 Free';
  font-weight: 900;
}
.btn-more:hover, .btn-all:hover {
  text-decoration: underline;
}

.btn-all::after {
  content: " \f054";
}

/*--------------------------------------------------
  card
--------------------------------------------------*/
.card {
  position: relative;
  background-color: #FFF;
  border: 1px solid #EEE;
  border-radius: 4px;
}
.card .card-content {
  padding: 20px 10px;
}

.card {
  transition: all 120ms ease-in-out;
  overflow: hidden;
  /* Add class "card-cluster" to grandparent/parent */
}
.card.alt1 {
  background-color: rgba(255, 255, 255, 0.05);
  border: none;
}
div.card-cluster {
  margin: -10px;
}
div.card-cluster .card {
  margin: 10px;
}

@media only screen and (min-width: 993px) {
  .card .card-content {
    padding: 40px;
  }
}
/*--------------------------------------------------
  icon-list
--------------------------------------------------*/
.icon-list {
  list-style: none;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
}
.star.icon-list li::before {
  content: "\f005";
}
.circle-checked.icon-list li::before {
  content: "\f058";
}
.square-checked.icon-list li::before {
  content: "\f14a";
}
.icon-list li {
  position: relative;
  margin: 0 0 10px;
  padding-left: 25px;
}
.icon-list li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\f111";
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 500;
}
.icon-list li:last-child {
  margin: 0;
}
.icon-list h1, .icon-list h2, .icon-list h3, .icon-list h4, .icon-list h5, .icon-list h6 {
  font-size: 1.5rem;
}
.icon-list a {
  color: inherit;
  text-decoration: none;
}
.icon-list a:hover {
  opacity: 0.75;
  text-decoration: none;
}

.icon-list.colum-2 {
  column-count: 2;
}
.icon-list.colum-3 {
  column-count: 3;
}
.icon-list.colum-4 {
  column-count: 4;
}

@media only screen and (min-width: 601px) {
  .icon-list.colum-s-2 {
    column-count: 2;
  }
  .icon-list.colum-s-3 {
    column-count: 3;
  }
  .icon-list.colum-s-4 {
    column-count: 4;
  }
}
@media only screen and (min-width: 993px) {
  .icon-list.colum-m-2 {
    column-count: 2;
  }
  .icon-list.colum-m-3 {
    column-count: 3;
  }
  .icon-list.colum-m-4 {
    column-count: 4;
  }
}
@media only screen and (min-width: 1301px) {
  .icon-list.colum-l-2 {
    column-count: 2;
  }
  .icon-list.colum-l-3 {
    column-count: 3;
  }
  .icon-list.colum-l-4 {
    column-count: 4;
  }
}
/*--------------------------------------------------
  more-social, category-list
--------------------------------------------------*/
.more-social, .category-list {
  list-style: none;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1;
}
.more-social li, .category-list li {
  margin: 0 0 10px;
}
.more-social li:last-child, .category-list li:last-child {
  margin: 0;
}
.more-social h1, .category-list h1, .more-social h2, .category-list h2, .more-social h3, .category-list h3, .more-social h4, .category-list h4, .more-social h5, .category-list h5, .more-social h6, .category-list h6 {
  margin: 0;
  font-size: 1.5rem;
}
.more-social a, .category-list a {
  color: inherit;
  text-decoration: none;
}
.more-social a:hover, .category-list a:hover {
  opacity: 0.75;
  text-decoration: none;
}

/*----------------------------------------------
    contact-form
-----------------------------------------------*/
.contact-form {
  position: relative;
  width: 100%;
}
.contact-form label {
  display: block;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 35px;
  white-space: nowrap;
}
.contact-form textarea {
  width: 100%;
  max-width: 100%;
  height: 150px;
  resize: none;
}
.contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=number] {
  width: 100%;
  height: 50px;
}
.contact-form textarea, .contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=number] {
  margin: 0 0 20px;
  padding: 10px;
  font-size: 1.5rem;
  font-family: inherit;
  background-color: #FAFAFA;
  border: 1px solid #EEEEEE;
}
.contact-form button, .contact-form input[type=button], .contact-form input[type=submit] {
  border: none;
}
.contact-form button, .contact-form textarea, .contact-form input[type=text], .contact-form input[type=email], .contact-form input[type=button], .contact-form input[type=number], .contact-form input[type=submit] {
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}
.contact-form ::placeholder {
  color: #555;
  font-size: 1.5rem;
}
.contact-form .submit-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form .thankyou-message {
  margin: 0 0 20px;
  padding: 15px 20px 15px 40px;
  color: #FFF;
  text-indent: -0.95rem;
  background-color: #4CAF50;
  border: 1px solid #EEE;
  border-radius: 4px;
}
.contact-form #honeypot {
  display: none;
}

@media only screen and (min-width: 993px) {
  .contact-form textarea, .contact-form input[type=text], .contact-form input[type=email] {
    margin: 0 0 40px;
    padding: 10px 20px;
  }
  .contact-form .thankyou-message {
    margin: 0 0 40px;
  }
}
/*--------------------------------------------------
  wrap, container
--------------------------------------------------*/
.wrap,
.container {
  width: 100%;
  max-width: 1340px;
  margin: 0 auto;
}

/*--------------------------------------------------
  header-section
--------------------------------------------------*/
.header-section {
  position: fixed;
  top: 0;
  width: 100%;
  transition: all 200ms ease-in-out 500ms;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 9;
}

@media only screen and (min-width: 993px) {
  .header-section {
    height: 160px;
  }
  .header-section.active {
    height: 80px;
  }
  .header-section.active.show {
    height: 160px;
  }
}
@media only screen and (max-width: 992px) {
  .header-section.active {
    top: -80px;
  }
  .header-section.active.show, .header-section.menu-opened {
    top: 0 !important;
  }
}
/*--------------------------------------------------
  site-header
--------------------------------------------------*/
.site-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 60px;
  padding: 0 10px;
  background: #F44336;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15);
  transition: all 120ms ease-in-out;
  z-index: 1;
}

@media only screen and (min-width: 993px) {
  .site-header {
    position: absolute;
    top: 0;
    height: 80px;
    background: #FAFAFA;
    z-index: -1;
  }
}
@media only screen and (min-width: 1301px) {
  .site-header {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1381px) {
  .site-header {
    padding: 0 40px;
  }
}
/*--------------------------------------------------
  site-cta
--------------------------------------------------*/
.site-cta {
  margin-left: auto;
}
.site-cta a {
  margin: 0 5px;
}

@media only screen and (min-width: 993px) {
  .site-cta a {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 992px) {
  .site-cta {
    position: fixed;
    bottom: -50px;
    right: 10px;
    transition: bottom 200ms ease-in-out 500ms;
  }
  .site-cta.show {
    bottom: 20px;
  }
}
/*--------------------------------------------------
  site-navigation
--------------------------------------------------*/
.site-navigation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 0;
  padding: 0 10px;
  transition: all 200ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.95);
  overflow: auto;
}
.site-navigation.show {
  max-height: calc(100vh - 140px);
}
.site-navigation .menu-nav {
  display: inherit;
  flex-wrap: inherit;
  width: inherit;
}

@media only screen and (min-width: 993px) {
  .site-navigation {
    position: absolute;
    bottom: 0;
    max-height: 100vh;
    background-color: #FFF;
  }
  .site-navigation .menu-nav ul {
    width: auto;
    height: 80px;
  }
  .site-navigation .menu-nav ul:first-child {
    margin-right: auto;
  }
  .site-navigation .menu-nav ul:last-child {
    margin-left: auto;
  }
}
@media only screen and (max-width: 992px) {
  .site-navigation ul {
    width: 100%;
  }
}
@media only screen and (min-width: 1301px) {
  .site-navigation {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1381px) {
  .site-navigation {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 1300px) {
  .site-navigation ul:nth-child(2) {
    display: none;
  }
}
/*--------------------------------------------------
  site-atf
--------------------------------------------------*/
.site-atf {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 460px;
  padding: 60px 10px 0;
  color: #FFF;
  background: linear-gradient(to bottom right, #F44336, #FF1744);
  overflow: hidden;
}
.site-atf::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: url(../../images/background-atf.png) no-repeat;
  background-position: 70% 0;
}
.site-atf::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}
.site-atf > div {
  position: relative;
  z-index: 1;
}
.site-atf .atf-about {
  width: 120px;
}
.site-atf .atf-illus {
  display: inherit;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% - 120px);
}
.site-atf .atf-illus img {
  max-width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: left;
  font-family: 'object-fit: cover;';
}
.site-atf .atf-illus .slides {
  display: none;
}

@media only screen and (min-width: 401px) {
  .site-atf .atf-about {
    width: 200px;
  }
  .site-atf .atf-illus {
    width: calc(100% - 200px);
  }
}
@media only screen and (min-width: 601px) {
  .site-atf .atf-about {
    width: 300px;
  }
  .site-atf .atf-illus {
    width: calc(100% - 300px);
  }
  .site-atf .atf-illus img {
    height: 300px;
  }
}
@media only screen and (min-width: 993px) {
  .site-atf {
    height: 660px;
    padding: 160px 20px 0;
  }
  .site-atf::before {
    background-position: 80% 80px;
  }
  .site-atf .atf-about {
    width: 550px;
  }
  .site-atf .atf-illus {
    justify-content: center;
    width: calc(100% - 550px);
  }
  .site-atf .atf-illus img {
    height: 400px;
  }
}
@media only screen and (min-width: 1301px) {
  .site-atf {
    padding: 160px 30px 0;
  }
}
@media only screen and (min-width: 1381px) {
  .site-atf {
    padding: 160px 50px 0;
  }
  .site-atf .atf-about, .site-atf .atf-illus {
    width: 50%;
  }
}
/*--------------------------------------------------
  site-headline
--------------------------------------------------*/
.site-headline {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  padding: 60px 10px 0;
  color: #FFF;
  background: linear-gradient(to bottom right, #F44336, #FF1744);
  overflow: hidden;
}
.site-headline::after {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
}

@media only screen and (min-width: 993px) {
  .site-headline {
    height: 310px;
    padding: 160px 20px 0;
  }
}
@media only screen and (min-width: 1301px) {
  .site-headline {
    padding: 160px 30px 0;
  }
}
@media only screen and (min-width: 1381px) {
  .site-headline {
    padding: 160px 50px 0;
  }
}
/*--------------------------------------------------
  site_aside
--------------------------------------------------*/
.site-aside {
  height: auto;
  padding: 20px 0 0;
}

@media only screen and (min-width: 993px) {
  .site-aside {
    padding: 50px 0 0;
  }
}
/*--------------------------------------------------
  site-footer
--------------------------------------------------*/
.site-footer {
  position: relative;
  z-index: 2;
}

/*--------------------------------------------------
  site-main
--------------------------------------------------*/
.site-main {
  position: relative;
  z-index: 1;
}
.site-main > div {
  padding: 25px 0;
}

@media only screen and (min-width: 993px) {
  .site-main > div {
    padding: 50px 0;
  }
}
/*--------------------------------------------------
  section
--------------------------------------------------*/
.section {
  padding: 25px 10px 25px;
}
.section.no-pad {
  padding: 0;
}
.section.no-vpad {
  padding-top: 0;
  padding-bottom: 0;
}
.section.no-hpad {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 993px) {
  .section {
    padding: 50px 20px;
  }
}
@media only screen and (min-width: 1301px) {
  .section {
    padding: 50px 30px;
  }
}
/*--------------------------------------------------
  article
--------------------------------------------------*/
.article {
  padding: 20px 0 0;
}

@media only screen and (min-width: 993px) {
  .article {
    padding: 40px 0 0;
  }
}
/*--------------------------------------------------
  title-bar
--------------------------------------------------*/
.title-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 20px;
}
.title-bar.center {
  justify-content: center;
}

@media only screen and (min-width: 993px) {
  .title-bar {
    margin: 0 0 40px;
  }
}
/*--------------------------------------------------
  title-bar-invisible
--------------------------------------------------*/
.title-bar-invisible {
  display: none;
  padding: 0 10px 20px;
  border-bottom: 1px solid #E0E0E0;
}
.title-bar-invisible:target {
  display: block;
}
.title-bar-invisible:target::before {
  content: "";
  display: block;
  width: 0;
  height: 180px;
  margin-top: -180px;
  visibility: hidden;
}
.title-bar-invisible h2, .title-bar-invisible h3, .title-bar-invisible h4, .title-bar-invisible h5, .title-bar-invisible h6 {
  padding-left: 15px;
  color: #F44336;
  font-size: 1.8rem;
  text-transform: uppercase;
  border-left: 5px solid #F44336;
}

@media only screen and (min-width: 993px) {
  .title-bar-invisible {
    padding: 0 20px 20px;
  }
}
@media only screen and (min-width: 1301px) {
  .title-bar-invisible {
    padding: 0 30px 20px;
  }
}
/*--------------------------------------------------
  portfolio-items
--------------------------------------------------*/
.portfolio-items {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-items .portfolio-item {
  width: 100%;
}
.portfolio-items .portfolio-item div {
  transition: all 300ms ease-in-out;
}
.portfolio-items .portfolio-item .card {
  height: 290px;
}
.portfolio-items .portfolio-item .portfolio-image {
  height: 200px;
  background: url(../img/background-image-placeholder.png) no-repeat center, #EEEEEE;
  overflow: hidden;
}
.portfolio-items .portfolio-item .portfolio-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
}
.portfolio-items .portfolio-item .portfolio-info {
  padding: 20px 10px;
  overflow: hidden;
}
.portfolio-items .portfolio-item .portfolio-link {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  border-top: 1px solid #EEEEEE;
}
.portfolio-items .portfolio-item .portfolio-extra {
  height: 110px;
  margin: 0 0 25px;
  padding: 0 10px;
  overflow: hidden;
}
.portfolio-items .portfolio-item .portfolio-link, .portfolio-items .portfolio-item .portfolio-extra {
  opacity: 0;
  visibility: hidden;
  transition: all 60ms ease-in-out;
}
.portfolio-items .portfolio-item > div:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.portfolio-items .portfolio-item > div:hover .portfolio-image {
  height: 0;
}
.portfolio-items .portfolio-item > div:hover .portfolio-extra {
  height: calc(100% - 175px);
}
.portfolio-items .portfolio-item > div:hover .portfolio-link, .portfolio-items .portfolio-item > div:hover .portfolio-extra {
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 401px) {
  .portfolio-items.first-feat .portfolio-item:first-child {
    width: 100%;
  }
  .portfolio-items .portfolio-item {
    width: 50%;
  }
}
@media only screen and (min-width: 601px) {
  .portfolio-items.first-feat .portfolio-item:first-child {
    width: 66.66%;
  }
  .portfolio-items .portfolio-item {
    width: 33.33%;
  }
}
@media only screen and (min-width: 993px) {
  .portfolio-items {
    overflow: hidden;
  }
  .portfolio-items.limited {
    height: 310px;
  }
  .portfolio-items.first-feat .portfolio-item:first-child {
    width: 50%;
  }
  .portfolio-items .portfolio-item {
    width: 25%;
  }
  .portfolio-items .portfolio-item .portfolio-info {
    padding: 20px;
  }
  .portfolio-items .portfolio-item .portfolio-link {
    padding: 0 20px;
  }
  .portfolio-items .portfolio-item .portfolio-extra {
    padding: 0 20px;
  }
}
@media only screen and (min-width: 1301px) {
  .portfolio-items.first-feat .portfolio-item:first-child {
    width: 40%;
  }
  .portfolio-items .portfolio-item {
    width: 20%;
  }
}
/*--------------------------------------------------
  service-items
--------------------------------------------------*/
.service-items {
  display: flex;
  flex-wrap: wrap;
}
.service-items .service-item {
  width: 100%;
  min-height: 480px;
}
.service-items .service-item .icon-entry {
  height: 135px;
  padding: 30px 10px 15px;
  font-size: 120%;
  text-align: center;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}
.service-items .service-item .icon-entry i {
  width: 90px;
  height: 90px;
  color: #FFF;
  font-size: 4rem;
  line-height: 90px;
  background-color: rgba(224, 224, 224, 0.2);
  border-radius: 50%;
}
.service-items .service-item .service-info {
  padding: 15px 10px 30px;
  text-align: left;
}
.service-items .service-item .service-link {
  position: absolute;
  bottom: -90px;
  width: 100%;
  padding: 20px 10px;
  opacity: 0;
  text-align: center;
  transition: all 200ms ease-in-out 130ms;
}
.service-items .service-item > div {
  height: calc(100% - 20px);
  color: #FFF;
}
.service-items .service-item > div:hover {
  color: #555;
  background-color: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.service-items .service-item > div:hover .icon-entry {
  height: 0;
  padding: 33px 0 0;
}
.service-items .service-item > div:hover .service-link {
  bottom: 0;
  opacity: 1;
}

@media only screen and (min-width: 761px) {
  .service-items .service-item {
    width: 33.33%;
  }
}
@media only screen and (min-width: 993px) {
  .service-items .service-item {
    min-height: auto;
  }
  .service-items .service-item .icon-entry {
    height: 155px;
    padding: 50px 30px 15px;
  }
  .service-items .service-item .service-info {
    padding: 15px 30px 50px;
  }
  .service-items .service-item .service-link {
    padding: 40px 30px;
  }
}
/*--------------------------------------------------
  contact-items
--------------------------------------------------*/
.contact-items {
  display: flex;
  flex-wrap: wrap;
}
.contact-items .contact-item {
  display: inherit;
  flex-wrap: inherit;
  width: 100%;
}
.contact-items .contact-item.content-1 {
  padding: 0 0 10px;
}
.contact-items .contact-item.content-2 {
  padding: 10px 0 0;
}
.contact-items .contact-item .alt-contact {
  margin: auto 0 0;
}
.contact-items .contact-item p {
  width: 100%;
}

@media only screen and (min-width: 761px) {
  .contact-items .contact-item {
    width: 50%;
  }
  .contact-items .contact-item.content-1 {
    padding: 0 20px 0 0;
  }
  .contact-items .contact-item.content-2 {
    padding: 0 0 0 20px;
  }
}
@media only screen and (min-width: 993px) {
  .contact-items .contact-item.content-1 {
    width: calc(100% - 520px);
  }
  .contact-items .contact-item.content-2 {
    width: 520px;
  }
}
/*--------------------------------------------------
  footer-items
--------------------------------------------------*/
.footer-items {
  display: flex;
  flex-wrap: wrap;
  color: #BDBDBD;
}
.footer-items .footer-item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}
.footer-items .footer-item img {
  max-width: 100%;
}
.footer-items .footer-item ul {
  margin-left: auto;
}
.footer-items .footer-item .footer-logo {
  width: 75px;
}

@media only screen and (min-width: 993px) {
  .footer-items .footer-item {
    width: 33.33%;
  }
  .footer-items .footer-item.content-1 {
    width: 40%;
  }
  .footer-items .footer-item.content-2 {
    width: 30%;
  }
  .footer-items .footer-item.content-3 {
    width: 30%;
  }
  .footer-items .footer-item .footer-info {
    width: calc(100% - 95px);
    margin-left: 20px;
  }
}
/*--------------------------------------------------
  button-holder
--------------------------------------------------*/
.button-holder {
  margin: 0 -10px;
  padding: 40px 10px 50px;
  text-align: center;
  border-bottom: 1px solid #E0E0E0;
}
section:last-child .button-holder {
  border: none;
  padding-bottom: 0;
}

/*--------------------------------------------------
  illus-container
--------------------------------------------------*/
.illus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin: 20px 0 0;
  overflow: hidden;
}
.illus-container.alt1 {
  height: 100%;
  background-color: #F5F5F5;
}
.illus-container img {
  max-width: 100%;
}

@media only screen and (min-width: 601px) {
  .illus-container {
    width: calc(100% - 20px);
    margin: 0 0 0 auto;
  }
}
/*--------------------------------------------------
  profile-picture
--------------------------------------------------*/
.profile-picture {
  width: 200px;
  height: 200px;
  margin: 5px;
  background-color: #F5F5F5;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);
}
.profile-picture.thumb {
  width: 100px;
  height: 100px;
}
.profile-picture img {
  max-width: 100%;
}

/*--------------------------------------------------
  map
--------------------------------------------------*/
.map {
  width: 100%;
  height: 400px;
  margin: 20px 0;
  background-color: #EEEEEE;
  border: 1px solid #F5F5F5;
}

@media only screen and (min-width: 601px) {
  .map {
    height: 300px;
  }
}
@media only screen and (min-width: 761px) {
  .map {
    height: 150px;
  }
}
@media only screen and (min-width: 993px) {
  .map {
    height: 200px;
  }
}
@media only screen and (min-width: 1301px) {
  .map {
    height: 300px;
  }
}
/*--------------------------------------------------
  Carousel - Core
--------------------------------------------------*/
.carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}
.carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.carousel .owl-wrapper,
.carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.carousel .owl-item img {
  display: block;
  width: 100%;
}
.carousel .owl-nav.disabled,
.carousel .owl-dots.disabled {
  display: none;
}
.carousel .owl-nav .owl-prev,
.carousel .owl-nav .owl-next,
.carousel .owl-dot {
  cursor: pointer;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel .owl-nav button.owl-prev,
.carousel .owl-nav button.owl-next,
.carousel button.owl-dot {
  background: none;
  color: inherit;
  border: none;
  padding: 0 !important;
  font: inherit;
}
.carousel.owl-loaded {
  display: block;
}
.carousel.owl-loading {
  opacity: 0;
  display: block;
}
.carousel.owl-hidden {
  opacity: 0;
}
.carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.carousel.owl-drag .owl-item {
  touch-action: pan-y;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.carousel.owl-rtl {
  direction: rtl;
}
.carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .carousel {
  display: block;
}

/*--------------------------------------------------
  Carousel - Animate Plugin
--------------------------------------------------*/
.carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.carousel .owl-animated-in {
  z-index: 0;
}
.carousel .owl-animated-out {
  z-index: 1;
}
.carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/*--------------------------------------------------
  Carousel - Auto Height Plugin
--------------------------------------------------*/
.owl-height {
  transition: height 500ms ease-in-out;
}

/*--------------------------------------------------
  Carousel - Lazy Load Plugin
--------------------------------------------------*/
.carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.carousel .owl-item .owl-lazy[src^=""], .carousel .owl-item .owl-lazy:not([src]) {
  max-height: 0;
}
.carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*--------------------------------------------------
  Carousel - Video Plugin
--------------------------------------------------*/
.carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}
.carousel .owl-video-playing .owl-video-tn,
.carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*----------------------------------------------
    owl-carousel
-----------------------------------------------*/
.owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-nav [class*='owl-'] {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15px;
  height: calc(100% - 10px);
  color: #424242;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-indent: -99999px;
  opacity: 0.5;
}
.owl-nav [class*='owl-'].disabled {
  display: none;
}
.owl-nav .owl-prev {
  left: 0;
  background: url(../img/chevron-left.svg) no-repeat center, #FFF;
  background-size: 16px;
}
.owl-nav .owl-next {
  right: 0;
  background: url(../img/chevron-right.svg) no-repeat center, #FFF;
  background-size: 16px;
}
.owl-nav .disabled {
  cursor: default;
}
.owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}
.owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 10px;
  background: #e4e4e4;
  display: block;
  border-radius: 50%;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
}
.owl-dots .owl-dot.active span, .owl-dots .owl-dot:hover span {
  background: #9d9d9d;
}

@media print {
  body {
    font-family: "Roboto", sans-serif;
    width: 100%;
    width: 640px\9;
  }
}

/*# sourceMappingURL=style.css.map */
