/*--------------------------------------------------
  card
--------------------------------------------------*/

@mixin card($extend: true) {
  @if $extend {
    @extend %card;
  } @else {
    & {
      position: relative;
      background-color: $card-color;
      border: $card-border;
      border-radius: $card-radius;

      & .card-content { padding: $card-padding_m; }
    }
  }
}

%card { @include card($extend: false); }

.card {
  @include card;
  transition: all 120ms ease-in-out;
  overflow: hidden;

  &.alt1 { 
    background-color: rgba($color: $white, $alpha: 0.05);
    border: none;
  }

  /* Add class "card-cluster" to grandparent/parent */
  @at-root { div.card-cluster {
    margin: -$card-gutter;
    & .card { margin: $card-gutter; }
  }}
}

@media only screen and (min-width: $media-medium + 1) {
  .card {
    & .card-content { padding: $card-padding; }
  }
}