/*----------------------------------------------
    contact-form
-----------------------------------------------*/

@mixin contact-form($extend: true) {
  @if $extend {
    @extend %contact-form;
  } @else {
    & {
      position: relative;
      width: 100%;
    }
    
    & label {
      display: block;
      padding: 10px;
      font-size: $medium-size;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 35px;
      white-space: nowrap;
    }

    & textarea {
      width: 100%;
      max-width: 100%;
      height: 150px;
      resize: none;
    }
    
    & input[type=text],
    & input[type=email],
    & input[type=number] {
      width: 100%;
      height: 50px;
    }

    & textarea,
    & input[type=text],
    & input[type=email],
    & input[type=number] {
      margin: 0 0 20px;
      padding: 10px;
      font-size: $default-size;
      font-family: inherit;
      background-color: $grey-50;
      border: 1px solid $grey-200;
    }

    & button,
    & input[type=button],
    & input[type=submit] {
      @include btn;
      cursor: pointer;
      border: none;
    }

    & button:disabled:hover,
    & input[type=button]:disabled:hover,
    & input[type=submit]:disabled:hover {
      cursor: auto;
      opacity: 0.5;
      box-shadow: none;
    }
    
    & button,
    & textarea,
    & input[type=text],
    & input[type=email],
    & input[type=button],
    & input[type=number],
    & input[type=submit] {
      outline: none;
      -moz-appearance: none;
      -webkit-appearance: none;
    }
    
    & ::placeholder {
      color: $default-color;
      font-size: $default-size;
    }

    & .submit-container { 
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }

    & .terms-message {
      margin: 0 0 20px;
      color: $grey-500;
      font-size: $small-size;
    }

    & .thankyou-message {
      margin: 0 0 20px;
      padding: 15px 20px 15px 40px;
      color: $white;
      text-indent: -0.95rem;
      background-color: $green;
      border: $card-border;
      border-radius: $card-radius;
    }

    & #honeypot { display: none; }
  }
}

%contact-form { @include contact-form($extend: false); }

.contact-form { @include contact-form; }

@media only screen and (min-width: $media-medium + 1) {
  .contact-form { 
    & textarea,
    & input[type=text],
    & input[type=email] {
      margin: 0 0 40px;
      padding: 10px 20px;
    }

    & .terms-message,
    & .thankyou-message { margin: 0 0 40px; }
  }
}

@media only screen and (max-width: $media-custom-2 ) {
  .contact-form { 
    & .submit-container {
      padding: 0 0 20px;
      border-bottom: 1px solid $grey-300;
    }
  }
}


