/*--------------------------------------------------
  Title
--------------------------------------------------*/

@mixin title($extend: true) {
  @if $extend {
    @extend %title;
  } @else {
    & {
      margin: 0;
      color: $default-color;
      font-size: $large-size;
      font-family: $font-family-condensed;
      text-transform: uppercase;
      line-height: $normal-height;
    }
  }
}

%title { @include title($extend: false); }

.section-title {
  @include title;
}

@media (min-width: $media-medium + 1) {
  .section-title {
    font-size: $extra-large-size;
  }
}

.heading-title {
  @include title;
  padding: 0 0 10px;
  margin: 0 0 40px;
  border-bottom: 1px solid $primary-color;
}

.heading-title.sub {
  @include title;
  font-size: $default-size;
  border-color: $grey-200;
  margin: 0 0 20px;
}

/*--------------------------------------------------
  headline-heading
--------------------------------------------------*/

.headline-heading {
  @include title;
  color: $white;
  font-size: $extra-large-size;
  letter-spacing: 0.2rem;
  text-shadow: 0 2px 2px rgba($color: #000, $alpha: 0.2);
  white-space: nowrap;
}

@media (min-width: $media-medium + 1) {
  .headline-heading {
    font-size: $super-large-size;
  }
}

/*--------------------------------------------------
  atf-heading
--------------------------------------------------*/

.atf-heading { 
  @include title;
  margin: 0 0 20px;
  color: $white;
  font-size: $large-size;
  letter-spacing: 0.2rem;
  text-shadow: 0 2px 2px rgba($color: #000, $alpha: 0.2);
  white-space: nowrap;

  & a {
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
  }
}

@media (min-width: $media-medium + 1) {
  .atf-heading {
    font-size: $extra-large-size;
  }
}

/*--------------------------------------------------
  atf-text
--------------------------------------------------*/

.atf-text {
  max-width: 100%;
  margin: 0 0 20px;
  font-size: $medium-size;
  font-weight: 300;
  line-height: $small-height;
}

@media (min-width: $media-medium + 1) {
  .atf-text {
    font-size: $default-size;
  }
}

/*--------------------------------------------------
  portfolio-info
--------------------------------------------------*/

.portfolio-info {
  text-transform: none;
  overflow: hidden;

  & a {
    color: inherit;
    text-decoration: none;
  }

  & .title-entry {
    @include title;
    width: 100%;
    margin: 0 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .info-entry {
    width: 100%;
    margin: 0;
    color: $grey-500;
    font-size: $default-size;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/*--------------------------------------------------
  service-info
--------------------------------------------------*/

.service-info {
  text-transform: none;

  & .title-entry {
    margin: 0;
    padding: 0 0 20px;
    font-size: $large-size;
    text-align: center;
    text-transform: uppercase;
  }
}

@media (min-width: $media-medium + 1) {
  .service-info {
  
    & .title-entry {
      padding: 0 0 30px;
      font-size: 3rem;
    }
  }
}

/*--------------------------------------------------
  contact-note
--------------------------------------------------*/

.contact-note {
  padding-left: 20px;
  color: $grey-500;
  font-size: $extra-small-size;
  line-height: $small-height;

  strong { 
    color: $default-color;
    font-size: $small-size; 
  }
}

/*--------------------------------------------------
  contact-warning
--------------------------------------------------*/

.contact-warning {
  color: $grey-700;
  font-size: $small-size;
}

/*--------------------------------------------------
  footer-title
--------------------------------------------------*/

.footer-title {
  margin: 0;
  color: $white;
  font-size: $default-size;
  text-transform: uppercase;

  & a {
    margin-right: 10px;
    color: inherit;
    text-decoration: none;
  }
}

/*--------------------------------------------------
  footer-text
--------------------------------------------------*/

.footer-text {
  margin: 0 0 5px;
  font-size: $extra-small-size;

  & a { text-decoration: none; }
}

@media (min-width: $media-medium + 1) {
  .footer-text {
    font-size: $small-size;
  }
}