/*--------------------------------------------------
  Title
--------------------------------------------------*/

@mixin title($extend: true) {
  @if $extend {
    @extend %title;
  } @else {
    & {
      color: $default-color;
      font-size: $large-size;
      font-family: $font-family-condensed;
      text-transform: uppercase;
      line-height: 1.5;
    }
  }
}

%title { @include title($extend: false); }

.section-title {
  @include title;
}

@media only screen and (min-width: $media-medium + 1) {
  .section-title {
    font-size: $extra-large-size;
  }
}

.heading-title {
  @include title;
  padding: 0 0 10px;
  margin: 0 0 40px;
  border-bottom: 1px solid $primary-color;
}

.heading-title.sub {
  @include title;
  font-size: $default-size;
  border-color: #CCC;
  margin: 0 0 20px;
}

.heading-title.sub2 {
  @include title;
  font-size: $medium-size;
  border-color: #EEE;
  margin: 0 0 20px;
}

/*--------------------------------------------------
  headline-heading
--------------------------------------------------*/

.headline-heading {
  @include title;
  color: $white;
  font-size: $large-size;
  letter-spacing: 0.2rem;
  text-shadow: 0 2px 2px rgba($color: #000, $alpha: 0.2);
  white-space: nowrap;
}

@media only screen and (min-width: $media-medium + 1) {
  .headline-heading {
    font-size:$extra-large-size;
  }
}

/*--------------------------------------------------
  atf-heading
--------------------------------------------------*/

.atf-heading { 
  @include title;
  margin: 0 0 20px;
  color: $white;
  font-size: $large-size;
  letter-spacing: 0.2rem;
  text-shadow: 0 2px 2px rgba($color: #000, $alpha: 0.2);
  white-space: nowrap;

  & a {
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
  }
}

@media only screen and (min-width: $media-medium + 1) {
  .atf-heading {
    font-size:$extra-large-size;
  }
}

/*--------------------------------------------------
  atf-text
--------------------------------------------------*/

.atf-text {
  max-width: 100%;
  margin: 0 0 20px;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.3;
}

@media only screen and (min-width: $media-medium + 1) {
  .atf-text {
    font-size: 1.6rem;
  }
}

/*--------------------------------------------------
  portfolio-info
--------------------------------------------------*/

.portfolio-info {
  text-transform: none;
  overflow: hidden;

  & a {
    color: inherit;
    text-decoration: none;
  }

  & .title-entry {
    @include title;
    width: 100%;
    margin: 0 0 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  & .info-entry {
    width: 100%;
    color: $grey-500;
    font-size: $default-size;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

/*--------------------------------------------------
  service-info
--------------------------------------------------*/

.service-info {
  text-transform: none;

  & .title-entry {
    padding: 0 0 10px;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

@media only screen and (min-width: $media-medium + 1) {
  .service-info {
  
    & .title-entry {
      padding: 0 0 30px;
      font-size: 3rem;
    }
  }
}

/*--------------------------------------------------
  contact-note
--------------------------------------------------*/

.contact-note {
  padding-left: 20px;
  color: $grey-500;
  font-size: 1rem;
  line-height: 1.2;

  strong { 
    color: $default-color;
    font-size: 1.2rem; 
  }
}

/*--------------------------------------------------
  alt-contact
--------------------------------------------------*/

.alt-contact {
  width: 100%;
  padding: 15px 10px;
  margin: 0 10px;
  color: $grey-500 !important;
  font-size: 1.2rem;
  line-height: 1.5;
  border: 1px solid $grey-200;
  border-radius: 4px;

  & a { 
    color: inherit;
    text-decoration: none;
    white-space: nowrap;
  }

  & a:hover { text-decoration: underline; }

}

@media only screen and (min-width: $media-medium + 1) {
  .alt-contact { 
    padding: 15px 20px;
  }
}

/*--------------------------------------------------
  footer-title
--------------------------------------------------*/

.footer-title {
  color: $white;
  font-size:$default-size;
  text-transform: uppercase;

  & a {
    margin-right: 10px;
    color: inherit;
    text-decoration: none;
  }
}

/*--------------------------------------------------
  footer-text
--------------------------------------------------*/

.footer-text {
  font-size: 1rem;

  & a { text-decoration: none; }
}

@media only screen and (min-width: $media-medium + 1) {
  .footer-text {
    font-size: 1.2rem;
  }
}